<div class="col-md-12">
  <div class="moviegroup">
    <%= link_to("Edit", edit_moviegroup_path(@moviegroup), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @moviegroup.title %></h2>
  <p><%= @moviegroup.description %></p>
</div>